name: Check Dependencies


on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
  schedule:
    - cron: "0 9 * * *" 

jobs:
  check-dependencies:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Install dependencies
        run: npm install
        run: npm list --depth=0

      - name: Print dependencies
        run: |
          echo "Dependencies:"